@import "tailwindcss";

body {
    overflow-x: hidden;
    width:100%
}

.hide-scrollbar {
    -ms-overflow-style: none;
    scrollbar-width: none;
}

.hide-scrollbar::-webkit-scrollbar {
    display: none;
}